.registeredRoom {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: gray;
    gap: 2rem;
    max-width: 50rem;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnDisabled {
    background-color: #fff;
}

.qwe {
    background-color: #fff;
    padding: 15px;
    max-width: 50rem;
    border-radius: 5px;
}