.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #fff;
    border-radius: 4px;
}

.informacoes {
    display: flex;
    align-items: center;
}

.info {
    padding: 10px 12px;
    margin: 1px 6px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.logo {
    padding: 10px 12px;
    margin: 1px 6px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.info:hover,
.logo:hover {
    border: 1px solid #aaa;
    border-radius: 5px;
}