@import url("https://cdn.syncfusion.com/ej2/material.css");

* {
    color: #764701;
}

body {
    margin: 0;
    color: #764701;
    background: #eee;
    --type-first: Roboto, Arial, sans-serif;
    --type-second: 'Spectral', Georgia;
    font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    color: #764701;

}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

button,
input {
    display: block;
    font-size: 1rem;
    font-family: var(--type-first);
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
    border-radius: 5px;
}

.mainContainer {
    margin-top: 2rem;
}